<div *ngIf="photo" class="container-fluid px-5 mt-5">
  <div class="row justify-content-between mb-4">
    <div class="col">
      <h2 class="user-details" title="{{photo.user.bio ? photo.user.bio : 'View user profile'}}" (click)="goToUserPortfolio()">
        <img class="rounded-circle user-profile-img" [src]="photo.user.profile_image.small">
        <span>{{photo.user.name}}</span>
      </h2>
    </div>
    <div class="col-xs-12 col-sm text-end">
      <button mat-flat-button color="primary" (click)="downloadPhoto(photo.id, photo.urls.full)">Download</button>
      <button mat-icon-button color="primary" [matMenuTriggerFor]="downloadMenu">
        <mat-icon class="align-middle">expand_more</mat-icon>
      </button>
      <mat-menu #downloadMenu="matMenu" xPosition="before">
        <button mat-menu-item class="text-end" (click)="downloadPhoto(photo.id, photo.urls.small)">Small <small class="text-secondary">({{photoService.getDimensions('s', photo.width, photo.height)}})</small></button>
        <button mat-menu-item class="text-end" (click)="downloadPhoto(photo.id, photo.urls.regular)">Medium <small class="text-secondary">({{photoService.getDimensions('r', photo.width, photo.height)}})</small></button>
        <button mat-menu-item class="text-end" (click)="downloadPhoto(photo.id, photo.urls.raw)">Original Size <small class="text-secondary">({{photo.width}} X {{photo.height}})</small></button>
      </mat-menu>
    </div>
  </div>  

  <div class="row mb-4" *ngIf="photo.description">
    <div class="col">
      {{photo.description}}
    </div>
  </div>

  <app-blurhash class="photo mx-auto mb-5" style="--aspect-ratio: {{photo.width/photo.height}}" [hash]="photo.blur_hash" [URL]="photo.urls.full" [width]="photoService.getWidth('r')" [height]="photoService.calHeight('r', this.photo.width, this.photo.height)"></app-blurhash>

  <div class="row">
    <div class="col">
      <h3>
        <span class="badge rounded-pill text-bg-primary d-inline-block m-1">
          <mat-icon class="align-middle">visibility</mat-icon> {{photo.views | number}} views
        </span>
        <span class="badge rounded-pill text-bg-primary d-inline-block m-1">
          <mat-icon class="align-middle">download</mat-icon> {{photo.downloads | number}} downloads
        </span>
      </h3>
    </div>
  </div>

  <div class="row mt-2 mb-5">
    <div class="col">
      <ul class="list-group list-group-flush">
        <li class="list-group-item" *ngIf="photo.exif && photo.exif.name"><mat-icon class="align-middle">photo_camera</mat-icon> {{photo.exif.name}}</li>
        <li class="list-group-item" *ngIf="photo.location && photo.location.title"><mat-icon class="align-middle">location_on</mat-icon> {{photo.location.title}}</li>
        <li class="list-group-item" *ngIf="photo.created_at"><mat-icon class="align-middle">calendar_month</mat-icon> Published on {{photo.created_at | date : "longDate"}}</li>
      </ul>
    </div>
  </div>

  <div class="row mb-5" *ngIf="photo.topics && photo.topics.length > 0">
    <h1>Topics</h1>
    <div class="col">
      <button mat-stroked-button [routerLink]="['/r/photos']" [queryParams]="{q: topic.title}" *ngFor="let topic of photo.topics" class="m-2" title="Search for {{topic.title}}">{{topic.title}}</button>
    </div>
  </div>

  <div class="row mb-5" *ngIf="photo.related_collections">
    <h1>Related Collections</h1>
    <div class="col">
      <button mat-stroked-button [routerLink]="['/r/photos']" [queryParams]="{q: collection.title}" *ngFor="let collection of photo.related_collections.results" class="m-2" title="Search for {{collection.title}}">{{collection.title}}</button>
    </div>
  </div>
</div>