<img src="../../assets/logo.svg" class="logo" alt="Discover Image">
<div class="container container-search p-3">
  <div class="row">
    <div class="col-11 mx-auto">
      <app-search class="text-center h4"></app-search>
    </div>
  </div>
  <div class="row">
    <div class="col text-center">
      <!-- <button mat-stroked-button color="primary" (click)="searchComponent!.search()" class="m-2" alt="Search">Search</button> -->
      <button mat-stroked-button [routerLink]="['/r/photos']" class="m-2" alt="Search editorial feed">Editorial Feed <mat-icon class="align-middle">wb_incandescent</mat-icon></button>
    </div>
  </div>
</div>