<div class="photo-container position-relative" (mouseenter)="showCard = true" (mouseleave)="showCard = false" (click)="openPhoto()" queryParamsHandling="merge">
  <div class="card-img-overlay" *ngIf="showCard" [@inOutAnimation]>
    <h3 class="card-user text-white position-absolute fixed-bottom">
      <img class="card-user-photo rounded-circle" [src]="photo.user.profile_image.small">
      <span class="card-user-name">{{photo.user.name}}</span>

      <button mat-mini-fab color="white" class="card-photo-download" aria-label="Download Photo" title="Download Photo" (click)="downloadPhoto(photo.id, photo.urls.full);$event.stopPropagation();">
        <mat-icon>download</mat-icon>
      </button>
    </h3>
  </div>

  <app-blurhash [hash]="photo.blur_hash" [URL]="photo.urls.customThumb" [width]="photoService.getWidth('ct')" [height]="photoService.calHeight('ct', this.photo.width, this.photo.height)">
  </app-blurhash>
</div>